/* font-family: 'Poppins',
sans-serif; */

body {}

div {
    position: relative;
    background-image: url("https://cdn.pixabay.com/photo/2020/02/07/21/12/everest-4828404_1280.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

h1,
h2 {
    font-family: 'Poppins',
        sans-serif;
    color: white;
}

h1 {
    position: absolute;
    top: 200px;
    right: 200px;
    font-size: 50px;
}

h2 {
    position: absolute;
    top: 270px;
    right: 202px;
    font-size: 30px;
}